<html>
<head>
  <meta charset="utf-8" />
  <script src="https://unpkg.com/vue@next"></script>
  <style>
    div#app { padding: 30px; margin: 30px auto; width: 400px;
      border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa; }
    div#app div { margin-bottom: 20px; }
    label { display: block; }
    input[type=text] { padding: 4px; }
    button { width: 100px; height: 30px; margin: 5px; }
  </style>
</head>
<body>
  <div id="app">
    <h1>test1</h1>
    <div>
      <input type="text" v-model="value1" />
    </div>
    <div>
      <input type="text" v-model="value2" />
    </div>
    <button type="button" v-on:click="multiply">곱하기</button>
    <button type="button" v-on:click="divide">나누기</button>
    <hr />
    <div>
      <p>{{ result }}</p>
    </div>
  </div>

  <script type="text/javascript">
    let app = {
      data() {
        return {
          value1: 0,
          value2: 0, 
          result: 0
        };
      },
      methods: {
        multiply() {
            this.result = this.value1 * this.value2;
            return result; 
        }, 
        divide() {
            this.result = this.value1 / this.value2;
            return result; 
        }
      }
    };
    Vue.createApp(app).mount("#app");
  </script>
</body>
</html>
